<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="FirstSegment_SR1.Registration"/>
      <class name="SecondSegment_SR2.HomePage"/>
      <class name="ThrirdSegmentSR3.WishList"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
